@model APICaseGM.Models.Caminhoneiro

<!-- Modal Cadastrar Caminhonheiro -->
<div class="modal fade" id="ModalCadastrarCaminhoneiro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Título do modal</h4>
            </div>

            @using (Html.BeginForm("PostCaminhoneiro", "api/API", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label class="control-label">Nome</label>
                            @Html.TextBoxFor(model => model.nome, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">Idade</label>
                            @Html.TextBoxFor(model => model.idade, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">Sexo</label>
                            @Html.DropDownListFor(model => model.sexo, (List<SelectListItem>)ViewBag.Sexo, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">Data de Chegada</label>
                            @Html.TextBoxFor(model => model.dataChegada, new { @type = "Date", @class = "form-control" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-3">
                            <label class="control-label">Possui veiculo</label>
                            @Html.DropDownListFor(model => model.possuiVeiculo, (List<SelectListItem>)ViewBag.PossuiVeiculo, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">Tipo da CNH</label>
                            @Html.DropDownListFor(model => model.tipoCNH, (List<SelectListItem>)ViewBag.TipoCNH, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">Esta Carregado?</label>
                            @Html.DropDownListFor(model => model.carregado, (List<SelectListItem>)ViewBag.Carregado, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">Tipo do Caminhão</label>
                            @Html.DropDownListFor(model => model.caminhao, (List<SelectListItem>)ViewBag.Caminhao, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Origem</label>
                            @Html.TextBoxFor(model => model.origem, new { @class = "form-control", @placeholder = "Av. Sapé, 1247 - Manaíra, João Pessoa - PB, 58038382" })
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Destino</label>
                            @Html.TextBoxFor(model => model.destino, new { @class = "form-control", @placeholder = "R. Fidêncio Ramos, 302 - 12o andar - Vila Olímpia, São Paulo - SP, 04551-010" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar mudanças</button>
                </div>
                
            }


        </div>
    </div>
</div>